<div class="input-group-{{ prepend ? 'prepend' : 'append' }}">
    <button class="btn btn-primary btn-{{ increase ? 'increase' : 'decrease' }} px-3" type="button">
        {{ icon|raw }}
    </button>
</div>
